@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

.nomal-content {
  font-family: 'Arial', sans-serif;
}

.daruma1 {
  font-family: 'darumadrop', sans-serif;
  font-size: 20px;
}